@model IEnumerable<SharpBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Recent Posts</h2>

<ul>
@foreach (var post in Model) {
    <li>@Html.PostLink(post)</li>
}
</ul>

<p>
    @Html.ActionLink("New post", MVC.Posts.Add(), new { @class = "btn" })
</p>