@model SharpBlog.Models.Post

@{
    Layout = null;
}

<div class="post">
    <h2 class="post__title">@Html.PostLink(Model)</h2>
    <div class="post__body">@Html.FromMarkdown(Model.Body)</div>
</div>
